@mixin uno-viewport-height($sfx) {
  .vh-100#{$sfx} { height: 100vh; }
  .vh-80#{$sfx} { height: 80vh }
  .vh-75#{$sfx} { height: 75vh; }
  .vh-66#{$sfx} { height: (100vh / 1.5); }
  .vh-50#{$sfx} { height: (100vh / 2); }
  .vh-33#{$sfx} { height: (100vh / 3); }
  .vh-25#{$sfx} { height: (100vh / 4); }
  .vh-20#{$sfx} { height: (100vh / 5); }
  .vh-10#{$sfx} { height: (100vh / 10); }
}
