/*
  Portfolio page
*/

.body-copy {
  color: white;
}

.portfolio {
  .container {
    transition: opacity .4s;
  }
  .main-content {
    z-index: 3;
    position: relative;
  }
}

.fade-up-and-in {
  opacity: 0;
  animation-duration: 1s;
  animation-name: upAndIn;
  animation-delay: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

a.next {
  color: white;
  position: relative;
  width: 100%;
  display: block;
  height: 300px;
  margin-top: 160px;
  text-align: center;
  overflow: hidden;
  @include breakpoint(md) {
    margin-top: 360px;
  }
  span.subhead {
    top: -60px;
  }
  span {
    pointer-events: none;
    opacity: .5;
    transform: translateY(240px);
    position: absolute;
    left:0;
    width: 100%;
    transition: all .3s ease-in;
    @include breakpoint(md) {
      transform: translateY(160px);
    }
  }
  &:hover {
    span {
      transform: translateY(0px);
      opacity: 1;
    }
    span.subhead {
      opacity: 0;
    }
  }
}
